// sizes

// spacing
$page-margin: 15%
$page-padding: 15%

// colors
$color1: #052b2b
$color2: #44f44d
$color3: #44f4f4
    
$font-stack:    Helvetica, sans-serif
$font-size: 30px;
$primary-color: #333;
$background: #44f4f4;
$background2:  #28bd03
$background3:  #cc851c
$workspaceBackground: #c2c1c1